<table class="table table-bordered" id="main-table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Second Name</th>
            <th scope="col">Age</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let user of userList'>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.secondName}}</td>
            <td>{{user.age}}</td>
            <td>
                <button>
                    <a [routerLink]="['/users', user.id]">Details</a>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary">Add new user</button>
